<div [ngClass]="{'dark-theme': darkMode}">
    <div class="toast" [class.show]="setFullScreenError">{{ setFullScreenError }}</div>
    <nav class="navbar navbar-dark bg-primary title">
        <div class="title-text" title="Customizable Analog Clock Demo">
            🕗 Customizable Analog Clock Demo
        </div> 
        <div class="form-inline">
            <div class="custom-control custom-switch dark-switch">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="darkMode" id="customSwitch">
                <label class="custom-control-label" for="customSwitch">Dark Mode</label>
            </div>
        </div>
        <div class="header-icons">
            <a href="https://github.com/AjinkyaBijwe/Customizable-Analog-Clock" target="_blank" title="Github">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.npmjs.com/package/customizable-analog-clock" target="_blank" title="NPM">
                <i class="fab fa-npm"></i>
            </a>
        </div>
    </nav>
    <div class="content" fxLayout="row" fxLayout.lt-lg="column">
        <div fxFlex="60" class="clock-options" fxFlexAlign="top center" fxFlex.lt-lg="100">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Options</a>
                    <ng-template ngbNavContent>
                        <div class="style-section" fxLayout="row" fxLayout.xs="column">
                            <div class="settings-options" fxFlex="70">
                                <label class="section-label">Toggle Options</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="option" [(ngModel)]="showDate">Show Date</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="option" [(ngModel)]="showDigitalClock">Show Digital Clock</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="option" [(ngModel)]="showIndicators">Show Indicators</label>
                                </div>
                            </div>
                            <div class="settings-buttons" fxFlex="30" fxFlexAlign="center" fxLayout="column">
                                <div class="settings-buttons">
                                    <button type="button" class="btn btn-primary" fxFlex="50" (click)="randomize()">Randomize</button>
                                    <button type="button" class="btn btn-danger" fxFlex="50" (click)="resetValues()">Reset</button>
                                </div>
                                <div class="settings-buttons">
                                    <button type="button" class="btn btn-success" fxFlex="50" (click)="applyStyles()">Apply</button>
                                    <button type="button" class="btn btn-info" fxFlex="50" (click)="clockFullScreen()">Full Screen</button>
                                </div>
                            </div>
                        </div>
                        <div class="style-section">
                            <label class="section-label">Indicators (Comma Separated String)</label>
                            <input style="font-size: 19px;" type="text" class="form-control" (keyup)="applyStyles()" [(ngModel)]="indicators">
                        </div>
                        <div class="style-section">
                            <label class="section-label">Style Options</label>
                            <div class="font-options" fxLayout="row" fxLayout.xs="column">
                                <div class="form-group" fxFlex="100">
                                    <label class="section-label option">🖼️ Background URL</label>
                                    <input type="text" class="form-control" (keyup)="applyStyles()" [(ngModel)]="styleOptions.clockBackgroundImage">
                                </div>
                            </div>
                            <div class="font-options" fxLayout="row" fxLayout.xs="column">
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">📝 Font Family</label>
                                    <input type="text" class="form-control" (keyup)="applyStyles()" [(ngModel)]="styleOptions.fontFamily">
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">📝 Font Size in Pixels</label>
                                    <input type="number" class="form-control" (keyup)="applyStyles()" [(ngModel)]="styleOptions.fontSize">
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Background Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockBackgroundColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover="ngbPopover" (click)="toggleColorPicker(popover, 'clockBackgroundColor')" 
                                            [ngStyle]="{'background': styleOptions.clockBackgroundColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Border Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockBorderColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" placement="top-right" 
                                            #popover1="ngbPopover" (click)="toggleColorPicker(popover1, 'clockBorderColor')" 
                                            [ngStyle]="{'background': styleOptions.clockBorderColor}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="color-options" fxLayout="row" fxLayout.xs="column">
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Center Border Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockCenterBorderColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover2="ngbPopover" (click)="toggleColorPicker(popover2, 'clockCenterBorderColor')" 
                                            [ngStyle]="{'background': styleOptions.clockCenterBorderColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Center Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockCenterBackgroundColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover3="ngbPopover" (click)="toggleColorPicker(popover3, 'clockCenterBackgroundColor')" 
                                            [ngStyle]="{'background': styleOptions.clockCenterBackgroundColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Second Hand Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockSecondHandColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover4="ngbPopover" (click)="toggleColorPicker(popover4, 'clockSecondHandColor')" 
                                            [ngStyle]="{'background': styleOptions.clockSecondHandColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Minute Hand Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockMinuteHandColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" placement="top-right"
                                            #popover5="ngbPopover" (click)="toggleColorPicker(popover5, 'clockMinuteHandColor')" 
                                            [ngStyle]="{'background': styleOptions.clockMinuteHandColor}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="color-options" fxLayout="row" fxLayout.xs="column">
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Hour Hand Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockHourHandColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover6="ngbPopover" (click)="toggleColorPicker(popover6, 'clockHourHandColor')" 
                                            [ngStyle]="{'background': styleOptions.clockHourHandColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Indicator Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockIndicatorColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover7="ngbPopover" (click)="toggleColorPicker(popover7, 'clockIndicatorColor')" 
                                            [ngStyle]="{'background': styleOptions.clockIndicatorColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Indicator Icon Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockIndicatorIconColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover8="ngbPopover" (click)="toggleColorPicker(popover8, 'clockIndicatorIconColor')" 
                                            [ngStyle]="{'background': styleOptions.clockIndicatorIconColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">🕗 Indicator Main Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.clockIndicatorMainColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" placement="top-right"
                                            #popover9="ngbPopover" (click)="toggleColorPicker(popover9, 'clockIndicatorMainColor')" 
                                            [ngStyle]="{'background': styleOptions.clockIndicatorMainColor}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="color-options" fxLayout="row" fxLayout.xs="column">
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">Digital 🕗 Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.digitalClockColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover10="ngbPopover" (click)="toggleColorPicker(popover10, 'digitalClockColor')" 
                                            [ngStyle]="{'background': styleOptions.digitalClockColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">Digital 🕗 Background</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.digitalClockBackgroundColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover11="ngbPopover" (click)="toggleColorPicker(popover11, 'digitalClockBackgroundColor')" 
                                            [ngStyle]="{'background': styleOptions.digitalClockBackgroundColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">📅 Date Color</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.dateColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" 
                                            #popover12="ngbPopover" (click)="toggleColorPicker(popover12, 'dateColor')" 
                                            [ngStyle]="{'background': styleOptions.dateColor}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" fxFlex="25">
                                    <label class="section-label option">📅 Date Background</label>
                                    <div class="color-selection">
                                        <input type="text" class="form-control" [(ngModel)]="styleOptions.dateBackgroundColor">
                                        <div class="color-wrapper" [ngbPopover]="colorPicker" triggers="manual" placement="top-right"
                                            #popover13="ngbPopover" (click)="toggleColorPicker(popover13, 'dateBackgroundColor')" 
                                            [ngStyle]="{'background': styleOptions.dateBackgroundColor}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Copy Settings</a>
                    <ng-template ngbNavContent>
                        <ngx-codemirror class="generated-settings" [(ngModel)]="config" [autoFocus]="true" [options]="codeOptions"></ngx-codemirror>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="clock-tab"></div>
        </div>
        <div fxFlex="40" class="clock" fxFlexAlign="top center" fxFlex.lt-lg="100" #fullScreen>
            <div class="clock-card">
                <div id="my-clock"></div>
            </div>
        </div>
    </div>
    <ng-template #colorPicker let-color="color">
        <color-sketch [color]="color" (onChangeComplete)="colorPickerEvent($event)"></color-sketch>
    </ng-template>  
</div>