@import '~codemirror/lib/codemirror';
@import './assets/stylesheets/font-awesome.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter';
    font-size: 15px;
    background: #f7f7f7;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: pointer;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-radius: 0;
    cursor: pointer;
}

.title {
    font-weight: 400;
    height: 45px;
    font-size: 17px;
    color: #ffffff;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.title-text {
    max-width: calc(50vw - 60px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-control.custom-switch.dark-switch label {
    cursor: pointer;
}

.custom-control.custom-switch.dark-switch .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #091921;
    background-color: #091921;
}

.header-icons {
    font-size: 30px;
    position: absolute;
    right: 150px;
}

.header-icons a {
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
}

.header-icons a:last-child {
    margin-right: 10px;
}

.content {
    min-height: calc(100vh - 45px);
}

.clock-options, .clock {
    margin: 16px;
    position: relative;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    background: #fff;
}

.clock-options .nav-tabs .nav-link {
    border-width: 0 0px 1px 0;
    padding: .75rem 1rem;
    border-color: #dee2e6;
}

.clock-options .nav-tabs .nav-link.active {
    background: #e3f1ff;
    color: #007bff;
}

.clock-tab.tab-content {
    padding: 1rem;
    padding-bottom: 0;
}

.clock .clock-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.clock-card {
    padding: 1rem;
}

#my-clock {
    width: calc(38vw - 30px);
    height: calc(38vw - 30px);
    z-index: 0;
}

@media screen and (max-width: 1279px) {
    #my-clock {
        width: calc(95vw - 30px);
        height: calc(95vw - 30px);
    }
}

.style-section {
    margin-bottom: 15px;
    display: block;
}

.style-section:last-child {
    margin-bottom: 0px;
}

.style-section .form-control {
    font-size: 15px;
}

.section-label{
    font-weight: 500;
}

.section-label.option {
    font-weight: 400;
}

.settings-options .checkbox input[type="checkbox"] {
    margin-right: 0.5rem;
    position: relative;
    top: 1px;
}

.font-options .form-group,
.color-options .form-group {
    margin-right: 1rem;
}

.font-options .form-group:last-child,
.color-options .form-group:last-child {
    margin-right: 0;
}

.settings-buttons {
    margin: 1rem 0;
}

.settings-buttons .btn {
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.settings-buttons .btn:last-child {
    margin-right: 0;
}

.color-selection .form-control {
    width: calc(100% - 41px);
    margin-right: 5px;
    display: inline-block;
    max-height: 36px;
}

.color-wrapper {
    display: inline-block;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.color-picker-popover .popover-body {
    padding: 0;
}

.color-picker-popover.bs-popover-top-right>.arrow {
    right: 6px;
}

.color-picker-popover .popover-body .sketch-picker {
    border: none;
    font-family: 'Inter';
}

.color-picker-popover {
    border: none;
}

.color-picker-popover .popover-body .sketch-picker .wrap input {
    font-size: 12px !important;
    padding: 5px 7px 4px 7px !important;
    border-radius: 4px;
}

.color-picker-popover .popover-body .sketch-picker .wrap span {
    font-size: 12px !important;
}

.color-picker-popover .popover-body .sketch-picker .sketch-alpha,
.color-picker-popover .popover-body .sketch-picker .sketch-hue {
    height: 15px;
}

.color-picker-popover .popover-body .sketch-picker .sketch-color {
    width: 34px;
    height: 34px;
}

.color-picker-popover .popover-body .sketch-picker .sketch-hue .color-hue-slider,
.color-picker-popover .popover-body .sketch-picker .sketch-alpha .alpha-slider {
    width: 6px;
    height: 13px;
    transform: translateX(-4px);
    cursor: pointer;
}

.CodeMirror {
    font-family: 'Roboto Mono';
    height: 100%;
    color: #202020;
    background: #fcfcfc;
    direction: ltr;
    font-size: 14px;
    border-radius: 4px;
    -webkit-text-stroke-width: 0px !important;
}

.CodeMirror-lines {
    padding: 0;
}

ngx-codemirror.generated-settings {
    height: calc(100vh - 155px);
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
}

/* Dark Theme */
.dark-theme .content {
    background: #0e222b;
}

.dark-theme .content .clock-options, .dark-theme .content .clock {
    background: #091921;
    color: #fff;
}

.dark-theme .clock-options .nav-tabs .nav-link.active {
    background: #0d2531;
    color: #fff;
}

.dark-theme .navbar {
    background-color: #133546 !important;
}

.dark-theme .style-section .form-control {
    background: #0c242f;
    color: #fff;
    border-color: #123342;
}

.dark-theme .color-wrapper {
    border-color: #123342;
}

.dark-theme .nav-tabs {
    border-color: #154961;
}

.dark-theme .clock-options .nav-tabs .nav-link {
    border-color: #154961;
}

.dark-theme .sketch-picker {
    background: #0c2633 !important;
}

.dark-theme .color-picker-popover .popover-body .sketch-picker .wrap input {
    background: #0c242f !important;
    color: #fff !important;
}

.dark-theme .color-picker-popover .popover-body .sketch-picker .wrap span {
    color: #fff !important;
}

.dark-theme .bs-popover-top>.arrow::after {
    border-top-color: #0c2633 !important;
}

.dark-theme .bs-popover-bottom>.arrow::after {
    border-bottom-color: #0c2633 !important;
}

.dark-theme .bs-popover-left>.arrow::after {
    border-left-color: #0c2633 !important;
}

.dark-theme .bs-popover-right>.arrow::after {
    border-right-color: #0c2633 !important;
}

.dark-theme ngx-codemirror.generated-settings {
    border-color: #123546;
}

/* Code Mirror Dark */
.dark-theme .CodeMirror {
    background: #0e232d;
    color: #fff;
}

.dark-theme .CodeMirror-selected {
	background: #49483E;
}

.dark-theme .CodeMirror-line::selection,
.dark-theme .CodeMirror-line>span::selection,
.dark-theme .CodeMirror-line>span>span::selection {
	background: rgba(73, 72, 62, .99);
}

.dark-theme .CodeMirror-line::-moz-selection,
.dark-theme .CodeMirror-line>span::-moz-selection,
.dark-theme .CodeMirror-line>span>span::-moz-selection {
	background: rgba(73, 72, 62, .99);
}

.dark-theme .CodeMirror-gutters {
	background: #333333;
	border-right: 0px;
}

.dark-theme .CodeMirror-guttermarker {
	color: white;
}

.dark-theme .CodeMirror-guttermarker-subtle {
	color: #fff;
}

.dark-theme .CodeMirror-linenumber {
	color: #fff;
}

.dark-theme .CodeMirror-cursor {
	border-left: 1px solid #f8f8f0;
}

.dark-theme .cm-comment {
	color: #75715e;
}

.dark-theme .cm-atom {
	color: #b197ff;
}

.dark-theme .cm-number {
	color: #b197ff;
}

.dark-theme .cm-comment.cm-attribute {
	color: #97b757;
}

.dark-theme .cm-comment.cm-def {
	color: #bc9262;
}

.dark-theme .cm-comment.cm-tag {
	color: #bc6283;
}

.dark-theme .cm-comment.cm-type {
	color: #5998a6;
}

.dark-theme .cm-property,
.dark-theme .cm-attribute {
	color: #64e1ff !important;
}

.dark-theme .cm-qualifier {
	color: #a6e22e;
}

.dark-theme .cm-keyword {
	color: #f92672;
}

.dark-theme .cm-builtin {
	color: #66d9ef;
}

.dark-theme .cm-string {
	color: #e6db74;
}

.dark-theme .cm-variable {
	color: #f8f8f2;
}

.dark-theme .cm-variable-2 {
	color: #ffffff;
}

.dark-theme .cm-variable-3,
.dark-theme .cm-type {
	color: #66d9ef;
}

.dark-theme .cm-def {
	color: #fd971f;
}

.dark-theme .cm-bracket {
	color: #f8f8f2;
}

.dark-theme .cm-tag {
	color: #ff327c;
}

.dark-theme .cm-header {
	color: #ae81ff;
}

.dark-theme .cm-link {
	color: #ae81ff;
}

.dark-theme .cm-error {
	background: #f92672;
	color: #f8f8f0;
}

.dark-theme .CodeMirror-activeline-background {
	background: #373831;
}

.dark-theme .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white;
}

/* Dark Theme End */